.footer {
  background: #292F3A;
  color: #E7E5EA;
  &__container {
    max-width: 1170px;
    margin: 0 auto;
  }

  &__main {
    padding: 105px 0 100px;
    .logo {
      margin-right: 80px;
    }
    .footer__nav {
      display: flex;
      justify-content: space-between;

      .nav-title {
        font-size: 22px;
        line-height: 32px;
        letter-spacing: -1px;
        margin-bottom: 20px;
      }

      ul {
        li {
          a {
            font-weight: 500;
            font-size: 14px;
            line-height: 24px;
            letter-spacing: -0.3px;
            text-transform: uppercase;
            color: #E7E5EA;
          }

          &:not(:first-of-type) {
            margin-bottom: 10px;
          }
        }
      }

      .nav-item {
        max-width: 170px;
        margin-right: 30px;
        width: 100%;
      }

      .nav-subscribe {
        font-family: $font-family-secondary;
        .nav-desc {
          font-size: 16px;
          line-height: 26px;
          margin-bottom: 25px;
        }

        .nav-desc-sm {
          font-size: 14px;
          line-height: 24px;
          letter-spacing: -0.3px;
          color: #E7E5EA;
        }

        .subscribe-form {
          .form-group {
            margin-bottom: 15px;
          }
          input[type="email"] {
            width: 235px;
            height: 48px;
            left: 1175px;
            top: 8515px;
            background: #E7E5EA;
            border-radius: 5px;
            padding: 11px 18px;
            outline: none;
            border: unset;

            &::placeholder {
              font-style: normal;
              font-weight: 400;
              font-size: 16px;
              line-height: 26px;
              color: $desc-color;
              opacity: 0.7;
            }
          }

          button[type="submit"] {
            height: 48px;
            background: $main-color;
            border-radius: 5px;
            font-family: $font-family-primary;
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 24px;
            letter-spacing: -0.3px;
            text-transform: uppercase;
            color: #fff;
            padding: 0 39px;
            display: inline-flex;
            justify-content: center;
            align-items: center;
            border: 0;
            outline: none;
            margin-left: 6px;
          }
        }
      }
    }
  }

  .copyright {
    padding: 27px 0;
    border-top: 1px solid $desc-color;
    .txt-copyright {
      font-size: 16px;
      line-height: 26px;
    }

    .social {
      display: flex;
      justify-content: flex-end;

      a {
        width: 52px;
        height: 52px;
        background-color: $main-color;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        margin-right: 20px;
        border-radius: 50%;

        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
}
