// Variable overrides
$white: #fff;
$black: #000;
$gray: #FAFAFA;
$textColor: #242424;
$blue_F5A: #0D4F5A;
$yellow_E00: #C5CE00;
$blue_2EB: #BAE2EB;
$blue_114: #114F5A;
$blue_E59: #234E59;
$gray_3E3: #E2E3E3;
