%main-button {
  background: $main-color;
  border-radius: 5px;
  font-weight: 500;
  font-size: 15px;
  line-height: 24px;
  letter-spacing: -.3px;
  text-transform: uppercase;
  color: #fff;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  transition: all .5s;

  &:hover {
    opacity: 0.8;
  }
}

%title {
  font-weight: 500;
  font-size: 48px;
  line-height: 56px;
  letter-spacing: -2px;
  color: $link-color;
}
