.page-top {
    overflow: hidden;
    color: $textColor;
    .btn__group-sp {
        position: absolute;
    }
    .top-container {
        max-width: 1360px;
        margin: 0 auto;
        padding: 0 20px;
    }
    .top__mv {
        position: relative;
        height: 844px;
        background-image: url('/assets/img/user/top/mv_top_sp.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        z-index: 1;
        @include mq-md() {
            background-image: url('/assets/img/user/top/mv_top.png');
            height: 800px;
        }
        &::after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            opacity: .2;
            background-image: linear-gradient(to right, $blue_2EB, $white);
            z-index: 2;
        }
        .mv__content {
            position: relative;
            z-index: 999;
        }
        .mv__title {
            color: $white;
            margin-bottom: 135px;
            font-size: 36px;
            font-weight: 600;
            line-height: 50px;
            word-break: keep-all;
            letter-spacing: -0.02em;
            text-align: center;
            padding-top: 90px;
            @include mq-md() {
                padding-top: 122px;
                margin-bottom: 70px;
                font-size: 80px;
                line-height: 100px;
                text-align: left;

            }
        }
        .form__contact {
            padding: 0;
            @include mq-md() {
                width: 660px;
            }
            .form__control--content {
                .control--content__input {
                    margin-top: 10px;
                    &:first-child {
                        margin-top: 30px;
                    }
                    @include mq-md() {
                        margin-top: 30px;
                        &:first-child {
                            margin-top: 0;
                        }
                    }

                }
            }
            .form__btn-submit {
                .btn-submit {
                    font-weight: bold;
                    font-family: 'Yu Gothic';
                }
            }

        }
        .mv__img {
            margin-top: 26px;
            width: 175px;
            height: 137px;
            @include mq-md() {
                padding-left: 20px;
                flex: 0 0 364px;
                height: 285px;
            }
        }
    }
    .section__content {
        .section__title {
            font-size: 32px;
            font-weight: 700;
            line-height: 52px;
            color: $blue_114;
            margin-bottom: 33px;
            letter-spacing: -0.02em;
            @include mq-md() {
                font-size: 58px;
                line-height: 87px;
                margin-bottom: 48px;
            }
        }
        .section__desc {
            font-size: 17px;
            font-weight: 500;
            line-height: 34px;
            letter-spacing: -0.02em;
            @include mq-md() {
                letter-spacing: -0.05em;
                font-size: 20px;
                line-height: 40px;
            }
        }
        text-align: center;
        @include mq-md() {
            text-align: inherit;
        }
    }

    .btn-link {
        font-size: 14px;
        font-weight: 600;
        line-height: 19px;
        text-decoration: none;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 300px;
        height: 50px;
        color: $blue_F5A;
        background-color: $white;
        border: 2px solid $blue_E59;
        border-radius: 25px;
        margin: 0 auto;
        @include mq-md() {
            width: 330px;
        }
        &.btn-custom {
            font-size: 12px;
            color: $white;
            background-color: $blue_E59;
        }
    }
    .top__hobby {
        padding-top: 93px;
        padding-bottom: 100px;
        @include mq-md() {
            padding-top: 122px;
            padding-bottom: 123px;
        }
        .hobby__img {
            width: calc(100% + 40px);
            height: 340px;
            margin-top: 78px;
            margin-bottom: 60px;
            @include mq-md() {
                margin-top: 0;
                width: inherit;
                height: inherit;
                margin-bottom: 100px;
            }
        }
        .computer__img {
            flex: 0 0 309px;
            margin-bottom: 57px;
            @include mq-lg() {
                flex: 0 0 540px;
                margin-bottom: 47px;
            }
        }
        .section__note {
            font-size: 14px;
            font-weight: 500;
            line-height: 32px;
            text-align: center;
            margin-bottom: 58px;
            @include mq-md() {
                font-size: 16px;
            }
        }
    }
    .top__original {
        background-color: $gray;
        padding-top: 77px;
        padding-bottom: 100px;
        .section__content {
            text-align: center;
            margin-bottom: 78px;
            @include mq-md() {
                margin-bottom: 0;
                text-align: right;
                max-width: 630px;
            }
        }
    }
    .top__school {
        padding: 93px 0 100px;
        @include mq-md() {
            padding: 108px 0 120px;
        }
        .section__content {
            margin-bottom: 69px;
            @include mq-md() {
                margin-bottom: 88px;
            }
        }
        .school__step {
            margin-bottom: 60px;
            @include mq-md() {
                margin-bottom: 78px;
            }
        }
        .school__step-item {
            margin-bottom: 31px;
            @include mq-md() {
                margin-right: 30px;
                margin-bottom: 0;
                &:last-child {
                    margin-right: 0;
                }
            }
            .step__title {
                font-family: 'Univers LT Std', sans-serif;
                font-size: 26px;
                line-height: 35px;
                color: $blue_F5A;
                border-bottom: 1px solid #2B6673;
                padding-bottom: 11px;
                margin-bottom: 17px;
                @include mq-md() {
                    font-size: 28px;
                    margin-bottom: 27px;
                }
            }
            .step__desc {
                font-size: 14px;
                font-weight: 500;
                line-height: 32px;
                margin-bottom: 28px;
                @include mq-md() {
                    font-size: 16px;
                }
            }
        }
    }
    .top__design {
        padding: 95px 0 100px;
        background-color: $gray;
        @include mq-md() {
            padding: 75px 0 126px;
        }
        .design__title {
            font-size: 21px;
            font-weight: 700;
            line-height: 32px;
            letter-spacing: -0.05em;
            color: $blue_F5A;
            text-align: center;
            margin-bottom: 87px;
            @include mq-md() {
                font-size: 26px;
                margin-bottom: 56px;
            }
        }
        .card-seeMore {
            &:first-child {
                @include mq-md() {
                    margin-right: 20px;
                }
            }
            .card__desc-option {
                margin-bottom: 63px;
                @include mq-md() {
                    margin-bottom: 57px;
                }
            }
        }
    }
    .card-seeMore {
        margin-bottom: 60px;
        .card__icon {
            margin-bottom: 27px;
        }
        .card__title {
            font-size: 18px;
            font-weight: 600;
            line-height: 32px;
            letter-spacing: -0.05em;
            margin-bottom: 17px;
            @include mq-md() {
                font-size: 20px;
            }
        }
        .card__desc {
            font-size: 14px;
            font-weight: 500;
            line-height: 28px;
            letter-spacing: -0.05em;
            text-align: center;
            margin-bottom: 35px;
            @include mq-md() {
                margin-bottom: 25px;
                font-size: 16px;
                max-width: 420px;
            }
        }
        .card__more {
            width: 200px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-bottom: 8px;
            text-decoration: none;
            border-bottom: 1px solid $blue_F5A;
            .text {
                font-size: 14px;
                font-weight: 600;
                color: $blue_F5A;
            }
        }
    }
    .top__edit {
        padding-top: 93px;
        @include mq-md() {
            padding-top: 108px;
        }
        .section__content {
            text-align: center;
            margin-bottom: 77px;
        }
        .edit__card {
            padding: 60px 20px;
            background-color: $gray;
            margin-bottom: 20px;
            @include mq-md() {
                padding: 70px 75px;
            }
            .card__title {
                font-size: 18px;
                font-weight: 600;
                line-height: 32px;
                letter-spacing: -0.05em;
                margin-top: 37px;
                margin-bottom: 17px;
                @include mq-md() {
                    margin-top: 0;
                    font-size: 20px;
                    margin-bottom: 37px;
                }
            }
            .card__desc {
                font-size: 14px;
                font-weight: 500;
                line-height: 28px;
                letter-spacing: -0.05em;
                text-align: center;
                margin-bottom: 25px;
                @include mq-md() {
                    font-size: 16px;
                    line-height: 32px;
                    margin-bottom: 35px;
                }
                &.card__desc02 {
                    margin-bottom: 63px;
                    @include mq-md() {
                        margin-bottom: 67px;
                    }
                }
            }
        }
    }
    .top__choose {
        padding: 93px 0 40px;
        @include mq-md() {
            padding: 108px 0 90px;
        }
        .section__content {
            text-align: center;
            margin-bottom: 77px;
        }
        .choose__card-container {
            display: grid;
            grid-template-columns: 1fr;
            @include mq-md() {
                gap: 20px;
                grid-template-columns: 1fr 1fr;
            }
            .card_img {
                margin-bottom: 30px;
                @include mq-md() {
                    margin-bottom: 50px;
                }
            }
        }
    }
}
