.mv {
  height: 100vh;
  background-image: url('../images/mv.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;

    .mv__content {
      max-width: 670px;
      margin: 0 auto;
      text-align: center;
    }

    .mv__title {
      font-weight: 500;
      font-size: 72px;
      line-height: 108%;
      text-align: center;
      letter-spacing: -2px;
      color: #fff;
      margin-bottom: 40px;

      span {
        background: linear-gradient(90deg, #ffc0ec -0.92%, #857fff 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
      }
    }

    .mv__desc {
      font-family: $font-family-secondary;
      font-size: 18px;
      line-height: 28px;
      text-align: center;
      letter-spacing: -0.3px;
      color: #e7e5ea;
      margin-bottom: 71px;
    }

    .mv__btn {
      @extend %main-button;
      height: 56px;
      padding: 0 32px;
    }
  }
}

.service {
  padding: 100px 90px;

  .title {
    @extend %title;
    margin-bottom: 100px;
  }

  &__item {
    margin-bottom: 100px;

    &:last-of-type {
      margin-bottom: 0;
    }
    .col-left {
      padding: 50px 100px 50px 0;

      .item-title {
        font-weight: 500;
        font-size: 36px;
        line-height: 46px;
        letter-spacing: -1px;
        color: $link-color;
        margin-bottom: 50px;
      }

      .item-desc {
        font-size: 18px;
        line-height: 28px;
        letter-spacing: -0.3px;
        color: #788190;
        margin-bottom: 50px;
      }

      .view-more-btn {
        @extend %main-button;
        height: 56px;
        padding: 0 35px;
      }
    }

    .col-right {
      width: 50%;
      border-radius: 20px;
      overflow: hidden;

      img {
        width: 100%;
      }
    }

    &--revert {
      flex-direction: row-reverse;

      .col-left {
        padding: 50px 0 50px 100px;
      }
    }
  }
}

.statistical {
  padding: 100px 0;
  background: #292f3a;

  &__list {
    display: flex;
  }

  &__item {
    .numbers {
      font-weight: 500;
      font-size: 64px;
      line-height: 72px;
      letter-spacing: -2px;
      color: $main-color;
      margin-bottom: 20px;
    }

    .subtitle {
      margin-bottom: 40px;
      font-size: 22px;
      line-height: 32px;
      letter-spacing: -1px;
      color: #fff;
    }

    .desc {
      font-size: 18px;
      line-height: 28px;
      letter-spacing: -0.3px;
      color: $desc-color;
    }
  }
}

.review {
  padding: 100px 0 113px;

  .title {
    @extend %title;
    margin-bottom: 30px;
  }

  .re-desc {
    font-size: 22px;
    line-height: 32px;
    letter-spacing: -1px;
    color: #7b88a8;
  }

  &__list {
    margin: 0 -15px;
    margin-top: 85px;
  }
  &__item {
    padding: 0 15px;

    .item-group {
      padding: 35px 35px 45px;
      background: #fff;
      box-shadow: 0 20px 50px rgba(79, 119, 255, 0.2);
      border-radius: 20px;
    }

    .avatar {
      img {
        width: 70px;
      }
    }

    .name {
      font-size: 22px;
      line-height: 32px;
      letter-spacing: -1px;
      color: $link-color;
      margin-bottom: 5px;
    }

    .position {
      font-family: $font-family-secondary;
      font-size: 16px;
      line-height: 26px;
      text-align: center;
      color: $desc-color;
      opacity: 0.8;
      margin-bottom: 20px;
    }

    .star {
      margin-bottom: 30px;
      .item-star {
        margin-right: 6px;

        &:last-of-type {
          margin-right: 0;
        }

        &--active {
          svg {
            path {
              fill: #f9e492;
            }
          }
        }
      }
    }

    .comment-txt {
      font-family: $font-family-secondary;
      font-size: 18px;
      line-height: 28px;
      letter-spacing: -0.3px;
      color: $desc-color;
    }
  }
}
